@media (max-width: 1024px) {
  .form-input,
  .form-select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }

  .header-btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger-line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 1px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger-line:nth-child(1) {
    top: 13px;
  }

  .burger-line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger-line:nth-child(3) {
    bottom: 13px;
  }

  .hero-content {
    width: 75%;
  }

  .services-list {
    flex-wrap: wrap;
  }

  .services-item {
    width: calc((100% - (var(--gap) * 1)) / 2);
  }

  .blog-preview {
    height: 100%;
  }

  .form {
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: var(--gap);
  }

  .clients-item {
    padding: 30px 12px 15px;
  }
}

@media (max-width: 768px) {
  .blog-preview-link {
    flex-direction: column;
  }

  .clients-item {
    width: calc((100% - (var(--gap) * 1)) / 2);
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-list {
    gap: var(--gap);
    flex-wrap: wrap;
  }

  .footer-item:not(:last-child) {
    margin-right: 13px;
  }
}

@media (max-width: 576px) {
  .clients,
  .contacts,
  .footer {
    display: none;
  }
}
