@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.eot');
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-SemiBold.eot');
  src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
      url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.eot');
  src: local('OpenSans-Light'), local('OpenSans-Light'),
      url('../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

/* glob */

:root {
  --gap: 30px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  border-bottom: 1px solid #dadada;
}

.btn {
  position: relative;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #3172B9;
  color: #FFFFFF;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  border: 1px solid #71A7E2;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus-visible::after{
  opacity: 1;
}

.btn:hover:not(:focus-visible) {
  background-color: #71A7E2;
}

.btn:active:not(:focus-visible) {
  background-color: #0E3B6C;
}

.btn:disabled {
  background-color: #C4C4C4;
}

.burger {
  display: none;
}

/* header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.header-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.header-link:focus-visible {
  outline: 1px solid #71A7E2;
}

.header-link:hover:not(:focus-visible) {
  color: #71A7E2;
}

.header-link:active:not(:focus-visible) {
  color: #3172B9;
  outline: none;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3172B9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-link:active:not(:focus-visible)::after {
  opacity: 1;
}

.header-btn {
  padding: 15px 35px;
  min-width: 150px;
}

/* hero */

.hero {
  padding: 110px 0 135px;
  background-image: url('../img/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1c1c1c;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-bnt-content {
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  margin-bottom: 14px;
  padding: 19px 0;
  min-width: 250px;
}

.hero-secure {
  padding-left: 27px;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url('../img/hero-secure.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

/* services */

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-list {
  gap: var(--gap);
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * 3)) / 4);
  flex-grow: 0;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services-item:hover {
  background-color: #3172B9;
  border-color: #3172B9;
}


/* .services-item:not(:nth-child(4n)) {
  margin-right: 30px;
} */

.services-item-icon {
  margin-bottom: 25px;
  fill: #3172B9;
  transition: fill 0.3s ease-in-out;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-descr {
  color: #fff;
}

/* articles */

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: calc((100% - (var(--gap) * 1)) / 2);
  margin-bottom: 30px;
  /* outline: 1px solid crimson; */
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.blog-preview-link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:focus-visible {
  background-color: #71A7E2;
}

.blog-preview-link:focus-visible .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus-visible .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus-visible .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover:not(:focus-visible) {
  background-color: #3172B9;
}

.blog-preview-link:hover:not(:focus-visible) .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover:not(:focus-visible) .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover:not(:focus-visible) .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active:not(:focus-visible) {
  background-color: #0E3B6C;
}

.blog-preview-link:active:not(:focus-visible) .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active:not(:focus-visible) .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active:not(:focus-visible) .blog-preview-time {
  color: #fff;
}

.blog-previes-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  max-width: 210px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

/* clients */

.clients-item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * 2)) / 3);
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  /* outline: 1px solid crimson; */
}

.clients-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */

.contacts-title {
  margin-bottom: 110px;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  padding-top: 50px;
  width: calc((100% - (var(--gap) * 2)) / 3);
  background-position: left top;
  background-size: 29px 29px;
  background-repeat: no-repeat;
  /* outline: 1px solid crimson; */
}

.contacts-item-icon-1 {
  background-image: url('../img/contacts-location.svg');
}
.contacts-item-icon-2 {
  background-image: url('../img/contacts-phone.svg');
}
.contacts-item-icon-3 {
  background-image: url('../img/contacts-mail.svg');
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: var(--gap);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  max-width: max-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.2s ease-in-out;
}

.contacts-item-link:focus-visible {
  outline: 0;
  outline: 1px solid #71A7E2;
  /* outline-offset: 3px; */
}

.contacts-item-link:hover:not(:focus-visible) {
  color: #71A7E2;
}

.contacts-item-link:active:not(:focus-visible) {
  color: #0E3B6C;
}

/* join-us */

.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding: 0 55px;
}

.form-top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(50% - 10px);
}


.form-input {
  margin-bottom: 19px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form-input:focus-visible {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover:not(:focus-visible) {
  border-color: #71A7E2;
}

.form-input:active:not(:focus-visible) {
  border-color: #0E3B6C;
}

/* .form-input:nth-child(-n+2) {
  margin-bottom: 19px;
} */

.form-textarea {
  padding: 16px 28px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #787878;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form-textarea:focus-visible {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover:not(:focus-visible) {
  border-color: #71A7E2;
}

.form-textarea:active:not(:focus-visible) {
  border-color: #0E3B6C;
}

.form-select {
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form-select:focus-visible {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover:not(:focus-visible) {
  border-color: #71A7E2;
}

.form-select:active:not(:focus-visible) {
  border-color: #0E3B6C;
}

.form-right {
  width: calc(50% - 10px);
}

/* .form-textarea {
  padding: 16px 28px;
  opacity: 0.6;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 100%;
} */

.form-bottom {
  justify-content: flex-end;
}

.form-wrapper {
  flex-direction: column;
  align-items: center;
}

.form-btn {
  padding: 20px 67px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-btn-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-btn-descr input {
  margin-right: 8px;
}

.form-btn-descr a {
  color: #3172b9;
  text-decoration: underline;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
  transition: ouline 0.2s ease-in-out, color 0.2s ease-in-out;
}

.footer-link:focus-visible {
  outline: 1px solid #71A7E2;
}

.footer-link:hover:not(:focus-visible) {
  color: #71A7E2;
}

.footer-link:active:not(:focus-visible) {
  color: #3172B9;
  outline: none;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3172B9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-link:active:not(:focus-visible)::after {
  opacity: 1;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-nav {
  margin-right: 56px;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.social-link svg {
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.social-link:focus-visible {
  outline: none;
  outline: 1px solid #71A7E2;
}

.social-link:hover:not(:focus-visible) svg {
  fill: #71A7E2;
}

.social-link-mail:hover:not(:focus-visible) svg {
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active:not(:focus-visible) svg {
  fill: #3172B9;
}

.social-link-mail:active:not(:focus-visible) svg {
  fill: transparent;
  stroke: #3172B9;
}

.social-link-tw svg {
  fill: #000;
}

.social-link-linkedin svg {
  fill: #000;
}

.social-link-mail svg {
  stroke: #000;
}

